<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My projects!</title>
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-container">
        {% include 'components/header.html.twig' with {'websiteHost': websiteHost} %}

        <div class = "content-repositories">
            <div></div>
            <div class="repositories">
                {% for repository in repositories %}
                    {% include 'components/home/repository.html.twig' with {'repository': repository} %}
                {% endfor %}
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>
